<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Reg Number Column -->
  <ng-container matColumnDef="regNumber">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Рег. №</th>
    <td mat-cell *matCellDef="let element">{{ element.regNumber }}</td>
  </ng-container>

  <!-- Registered Date Column -->
  <ng-container matColumnDef="regDate">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Дата рег.</th>
    <td mat-cell *matCellDef="let element">
      {{ element.regDate | date : "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <!-- Outgoing Number Column -->
  <ng-container matColumnDef="outgoingNumber">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>№ исх. док-та</th>
    <td mat-cell *matCellDef="let element">{{ element.outgoingNumber }}</td>
  </ng-container>

  <!-- Outgoing Date Column -->
  <ng-container matColumnDef="outgoingDate">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Дата исх. док-та</th>
    <td mat-cell *matCellDef="let element">
      {{ element.outgoingDate | date : "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <!-- Correspondent Column -->
  <ng-container matColumnDef="correspondent">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Корреспондент</th>
    <td mat-cell *matCellDef="let element">{{ element.correspondent }}</td>
  </ng-container>

  <!-- File Column (Download Link) -->
  <ng-container matColumnDef="file">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Файл</th>
    <td mat-cell *matCellDef="let element">
      @if (element.file) {
      <a [href]="baseUrl + '/' + element.file" target="_blank">
        <div class="file-col"><mat-icon>attach_file</mat-icon> Document</div>
      </a>
      } @if (!element.file) {
      <span>-</span>
      }
    </td>
  </ng-container>

  <!-- Subject Column -->
  <ng-container matColumnDef="subject">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Тема</th>
    <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Действия</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="openPrintDialog(element)"
      >
        <mat-icon>print</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Header & Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (dblclick)="openEditDialog(row)"
  ></tr>
</table>
